body{
    width: 1440px;
}
.one-style{
    height:62px;
    background: #095517;
    position: relative;
    transition: 1s;
    color:#fff;
}
.one-style:hover{
    background: #333;

}
.list-group{
    display:flex;
    flex-direction:row;
    position: relative;  
    padding-left:30px; 
    margin-bottom: -1px;
    font-size:0.6rem;
    font-family:  "微软雅黑", Verdana, Arial, Helvetica, sans-serif;
}
.list-group>li:first-child,.list-group>li:nth-child(2){
    /* display:block; */
    /* flex-direction:row; */
    padding-top:9px;

}
.list-group>li:first-child{
    list-style-image:url(../img/dw.png);
    list-style-position: inside;
}
.list-group>li:nth-child(2){
    list-style-image: url(../img/email.jpg);
    list-style-position: inside;
    padding-left:10px; 
}
.list-group>li:nth-child(4){
    position: absolute;
    left:85%
}
.on-child-style{
    position: absolute; ;
    left:50px;
}
ul h1{
    font-size: 32px;
    position: absolute;
    left: 35%;


}
h1 img {
    width:50px;height: 50px;
    background-size:100%;
    float: left; 
    border-radius: 50%;
    border: 5px solid rgb(220, 220, 220);
    border-image: none;
}
h1 img+span{
    margin-left:1.5rem;
    display: inline-block;
    margin-top: 12px;
}
.list-group-two{
    display: flex;
    height:62px;
    align-items: center;
}
a{
    text-decoration:none;
    color:#000;

    
}
.list-group-two{
    display: flex;
    justify-content: space-around;
    margin-left:250px;
    margin-right:250px;  
}
.list-group-two li {
    display: inline-block;
}